<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
  </div>
  <br>

  <div>
    <%= f.label :sex, "Select Sex" %>
    <%= f.select :sex, options_for_select(["M", "F"]) %>
  </div>
  <br>

  <div>
    <%= f.label :height, "Height (in cm)" %>
    <br>
    <%= f.number_field :height %>
  </div>
  <br>

  <div>
    <%= f.label :weight, "Weight (in Kg)" %>
    <br>
    <%= f.number_field :weight %>
  </div>
  <br>

  <div>
    <%= f.label :age, "Age" %>
    <br>
    <%= f.number_field :age %>
  </div>
  <br>

  <div>
    <%= f.label :lifestyle, "Select Lifestyle" %>
    <br>
    <%= f.select :lifestyle, options_for_select(["Sedentary", "Mildly Active", "Moderately Active", "Very Active", "Intensely Active"]) %>
  </div>
  <br>

  <div>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
  </div>
  <br>

  <div>
    <%= f.submit %>
  </div>

<% end %>
