<h3>Name: <%= @user.name %></h3>
<h3>Sex: <%= @user.sex %></h3>
<h3>Height: <%= @user.height %> centimeters.</h3>
<h3>Weight: <%= @user.weight %> Kilograms.</h3>
<h3>Age: <%= @user.age %> years old</h3>
<h3>Lifestyle: <%= @user.lifestyle %></h3>
<h3>Calorie Needs: <%= @user.calorie_needs %></h3>

<h3>Current Carbs: <%= @user.current_macros('carb_count') %></h3>
<h3>Current Proteins: <%= @user.current_macros('protein_count') %></h3>
<h3>Current Fibers: <%= @user.current_macros('fiber_count') %></h3>
<h3>Current Fats: <%= @user.current_macros('fat_count') %></h3>
<h3>Current Calories: <%= @user.current_macros('calorie_count') %></h3>

<% @user.user_foods.each do |user_food| %>
<h3><%= user_food.food.name %></h3>
<h3><%= user_food.quantity %></h3>
<br>
<% end %>