<h3>Name: <%= @user.name %></h3>
<h3>Sex: <%= @user.sex %></h3>
<h3>Height: <%= @user.height %> centimeters.</h3>
<h3>Weight: <%= @user.weight %> Kilograms.</h3>
<h3>Age: <%= @user.age %> years old</h3>
<h3>Lifestyle: <%= @user.lifestyle %></h3>
<h3>Calorie Needs: <%= @user.calorie_needs %></h3>
<h3>Current Carbs: <%= @user.current_carbs %></h3>
<h3>Current Proteins: <%= @user.current_proteins %></h3>
<h3>Current Fibers: <%= @user.current_fibers %></h3>
<h3>Current Fats: <%= @user.current_fats %></h3>
<h3>Current Calories: <%= @user.current_calories %></h3>