<h3>Name: <%= @user.name %></h3>
<h3>Sex: <%= @user.sex %></h3>
<h3>Height: <%= @user.height %> centimeters.</h3>
<h3>Weight: <%= @user.weight %> Kilograms.</h3>
<h3>Age: <%= @user.age %> years old</h3>
<h3>Lifestyle: <%= @user.lifestyle %></h3>
<h3>Calorie Needs: <%= @user.calorie_needs %></h3>