<p id="notice"><%= notice %></p>


<% if flash[:message] %>
  <div class="center alert">
    <p><%= flash[:message] %></p>
  </div>
<% end %>

<div class="center">
  <div class="info">
    <%= render 'user' %>
    <p><%= link_to 'My Foods', user_foods_path(@user) %></p>
    <p><%= link_to 'Edit', edit_user_path(@user) %></p>
  </div>
</div>
