<h3>Name: <%= @food.name %></h3>
<h3>Brand: <%= @food.brand %></h3>
<h3>Carbs: <%= @food.carb_count %> g</h3>
<h3>Fiber: <%= @food.fiber_count %> g</h3>
<h3>Protein: <%= @food.protein_count %> g</h3>
<h3>Fat: <%= @food.fat_count %> g</h3>
<h3>Calorie: <%= @food.calorie_count %> kcal</h3>
