<p id="notice"><%= notice %></p>


<div class="center">
  <div class="info">
    <%= render 'food' %>
    <%= form_for @user_food, :url => add_food_path do |f| %>
        <%= f.hidden_field :user_id %><br />
        <%= f.hidden_field :food_id %><br />
        <%= f.submit "Add", class:"btn btn-light" %>
    <% end %>
    <p><%= link_to 'Back', user_foods_path(current_user), class: "btn btn-primary btn-light" %></p>
    <p><%= link_to 'Edit', edit_user_food_path(current_user, @food) %></p>
  </div>
</div>
